<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
        <rules>
            <rule name="Cam image">
                <match url="image.jpg" ignoreCase="false" />
                <action type="Rewrite" url="image.php" />
            </rule>
        </rules>
    </rewrite>
    <caching>
        <profiles>
            <add extension=".php" location="Any" policy="DisableCache" />
        </profiles>
    </caching>
  </system.webServer>
</configuration>
